h1 {
    text-align: center;
    font-size: 200%;
}

     
form {
    margin: 0;    
    padding: 0;     
    border: none;    
    background: none;    
}

     
button {
    margin: 0;    
    padding: 0;     
    border: none;    
    background: none;    
    color: inherit;       
    font: inherit;      
    cursor: pointer;  ,    
    text-align: left;       
    text-decoration: none;    
}

       input  
input {
    margin: 0;    
    padding: 0;     
    border: none;    
    background: none;    
    color: inherit;       
    font: inherit;      
}

.container {
    display: grid;
    place-items: center;        
    border-radius: 20px;     
    background-color: #45a049;     
    border: none; !important;
}

.button-link {
    background-color: transparent !important;    
    border: none !important;    
    color: inherit !important;       
    cursor: pointer !important;      
    font-size: inherit !important;     
    text-align: left !important;    
    padding: 0 !important;     
    margin: 0 !important;     
    text-decoration: none !important;    
}

.matches-table {
    width: 100%;    
    border-collapse: collapse;      
    border:none;
    margin: 20px 0;      
    width: 95%;
}

.matches-table th {
    border: none;
    background-color: #45a049;      
    color: white;     
    padding: 10px;      
    text-align: center;      
    font-size: 150%
}

.matches-table td {
    border: none;
    border: 1px solid black;    
    padding: 10px;     
    text-align: center;      
    font-size: 1.2em;      
}

.matches-table tr:nth-child(even) {
    background-color: darkgray;
!important;       
}

.matches-table tr:nth-child(odd) {
    background-color: lightslategray;       
}

.matches-table tr:hover {
    background-color: #45a049;        
    color: white;      
}

.pagination {
    display: flex;
    justify-content: center;    
    margin: 20px 0;      
}

.page-item {
    width: 30px;    
    height: 30px;    
    border-radius: 50%;     
    background-color: #45a049;       
    color: white;    
    display: flex;
    align-items: center;     
    justify-content: center;     
    margin: 0 5px;     
    cursor: pointer;     
    transition: transform 0.2s;      
}

.page-item.active {
    background-color: darkgreen;       
    transform: scale(1.2);
}