@font-face {
    font-family: 'Digital-7';
    src: url('/fonts/Digital-7.ttf') format('truetype'); /* Укажите путь к шрифту */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}
button {
    all: unset;
    display: inline-block;
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    border: none;
    cursor: pointer;
}


.container {
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Максимальная ширина для контейнера */
}

h1 {
    color: #333;
}

.main-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.main-button:hover {
    background-color: #45a049;
}


table {
    width: 100%; /* Ширина таблицы */
    border-collapse: collapse; /* Убираем пробелы между ячейками */
}

td {
    border: none; /* Граница ячейки */
    padding: 10px; /* Отступ внутри ячейки */
    text-align: center; /* Выравнивание текста по центру */
    font-size: 1.2em; /* Размер шрифта для ячеек */
}

.scoreboard {
    font-family: 'Digital-7', monospace;
    background-color: black; /* Цвет фона для таблицы */
    color: red; /* Цвет текста */
    border-radius: 10px; /* Закругление углов */
    margin: 20px auto; /* Центрируем таблицу */
    max-width: 600px; /* Максимальная ширина таблицы */
}

.player-info {
    width: 100%; /* Полная ширина для выравнивания текста */
    font-size: 2em;
    margin-bottom: 10px; /* Отступ между игроками */
}

.score-labels {
    width: 100%; /* Задаем ширину для выравнивания */
    font-size: 1em; /* Размер шрифта для названий */
    margin-bottom: 10px; /* Отступ между заголовками и следующей секцией */
}

.button-link {
    font-family: 'Digital-7', monospace;
    background: none;
    border: none;
    cursor: pointer;
    color: red;
    font-size: inherit;
    text-align: left;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.input-style {
    font-family: 'Digital-7'; /* Шрифт */
    font-size: 20px;
    background-color: #45a049; /* Цвет фона */
    color: black; /* Цвет текста */
    border: none; /* Убираем стандартные границы */
    border-radius: 10px; /* Закругление углов */
    padding: 10px; /* Внутренние отступы */
    margin: 2px 0; /* Отступы вокруг элемента */
    max-width: 600px; /* Максимальная ширина поля */
    display: block; /* Делаем элемент блочным для центрирования */
    width: 100%; /* Занимает всю ширину родителя */
    box-sizing: border-box; /* Учитываем отступы и границы в ширине */
}

.input-style:focus {
    outline: none; /* Убираем стандартное обрамление при фокусе */
    border: 2px solid darkslategray; /* Красное обрамление при фокусе */
}

.label-style {
    display: block; /* Делает метку блочным элементом */
    margin: 0; /* Убирает внешний отступ */
    padding: 0; /* Убирает внутренний отступ */
}
